clear config.stopBubbling
config.stopBubbling = true

lombok.tostring.callsuper=CALL
lombok.equalsandhashcode.callsuper=CALL

# 如果设置成true，以链式生成setter，由默认返回void转为返回this，此处可能会影响到反射的正常使用
# clear lombok.accessors.chain
# lombok.accessors.chain=true

lombok.fieldDefaults.defaultPrivate = true
lombok.addLombokGeneratedAnnotation = true
